.root {
    margin-top: 50px;
}

/* label focus color */
.input-field input:focus + label {
    color: #0288d1 !important;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #0288d1 !important;
    box-shadow: 0 1px 0 0 #0288d1 !important
}

.material-icons.active {
    color: #0288d1 !important;
}

.nav-wrapper {
    padding-left: 10px;
}

.root {
    padding-top: 20px;
}

.post-title {
    text-shadow: 0 0 2px #6b6b6b,
    0 0 4px #6b6b6b;
}

.hidden{
    display: none;
}

.voteup, .votedown{
    display: inline-block;
    margin-right: 10px;
}

.voteup .vote, .votedown .vote{
    margin-right: 5px !important;
}

.voteup i{
     color: #00C853;
}

.scoreup{
    position: relative;
    top: -6px;
    color: #00C853;
}

.votedown i{
     color: #ce5e54;
}

.scoredown{
    position: relative;
    top: -6px;
    color: #ce5e54;
}

.text-bold{
    font-weight: bold;
}

.comment{
    padding-bottom: 2px;
}

.comment-date{
    font-size: .7em;
    padding-top: 10px;
    text-align: right;
}