{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:User:register{% endblock %}

{% block body %}
    <div class="root">

        <div class="row">
            <div class="col s8 push-l2">

                {% if error %}
                    <div class="card-panel red lighten-1">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.session.flashbag.has('notice') %}
                    <div class="card-panel light-green lighten-3">{{ app.session.flashbag.get('notice')[0] }}</div>
                {% endif %}


                <form action="{{ path('login') }}" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" />

                    <button type="submit">login</button>
                </form>


            </div>
        </div>

    </div>

{% endblock %}
